{% extends "base.html" %}

{% block title %}Evaluator Dashboard · ChronicleUX{% endblock %}

{% block content %}

<div class="mt-2 md:flex md:items-center md:justify-between">
	<div class="min-w-0 flex-1">
		<h1 class="text-gray-900 sm:truncate text-3xl tracking-tight dark:text-white">
			Evaluator Dashboard
		</h1>

		<p class="mt-2 text-sm text-gray-600 dark:text-gray-300">
			Welcome back. From here you can access your studies and analysis workflows.
		</p>
	</div>
</div>

<div class="mt-6">
	<a href="{% url 'studies' %}" class="button-PRIMARY">
		View Studies
	</a>
</div>

{% endblock %}