{% load formatters %}
<details open class="group main-card mt-4">
    <!-- CARD TITLE (I.E., SUMMARY) -->
    <summary class="card-summary">

        <div class="flex flex-col">
            <span class="card-summary-title">
                {% heroicon_outline "cpu-chip" %}
                Machine Analysis Runs
            </span>

            <p class="card-summary-subtitle">
                Individual analysis runs per entry. 
            </p>
        </div>

        <span class="card-summary-chevron">
            {% heroicon_outline "chevron-down" class="h-4 w-4 text-gray-500" %}
        </span>

    </summary>
    <div class="p-4">
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 items-center gap-4">
            {% for entry_analysis in entry_analyses %}
                {% with run=entry_analysis.run %}
                    <article class="card-border flex flex-col h-full">
                        
                        <!-- RUN HEADER -->
                        <header class="shrink-0 flex flex-col gap-2 p-2 border-b border-gray-200 dark:border-gray-600 bg-gray-100 dark:bg-gray-800">
                            <div class="flex items-start justify-between gap-2">
                                <div class="flex flex-col">
                                    <span class="card-summary-title">
                                        {% heroicon_outline "code-bracket-square"%}
                                        RUN-{{ run.id|stringformat:"03d" }}
                                    </span>

                                    <!-- CREATOR -->
                                    <span class="xs-label p-1">
                                        {% heroicon_outline "chart-bar-square" class="h-4 w-4 shrink-0" %}
                                        {% if run.created_by %}
                                            Executed by: {{ run.created_by.username|capfirst }}
                                        {% endif %}
                                    </span>

                                    <!-- ANALYSIS DATE -->
                                    <p class="xs-label p-1">
                                        {% heroicon_outline "calendar-days" class="h-4 w-4 shrink-0" %}
                                        {% if run.completed_at %}
                                            Completed on: {{ run.completed_at|date:"M d, Y H:i" }}

                                        {% elif run.created_at %}
                                            Started on: {{ run.created_at|date:"M d, Y H:i" }}
                                        {% else %}
                                            Date unavailable
                                        {% endif %}
                                    </p>
                                </div>

                                {% if run.status %}
                                    <span class="run-{{ run.status }}">
                                        {{ run.status }}
                                    </span>
                                {% endif %}
                            </div>
                        </header>

                        <!-- RUN BODY -->
                        <section class="flex flex-col flex-1 gap-2 p-2 bg-white dark:bg-gray-400">
                            <!-- SENTIMENT ANALYSIS -->
                            <div class="flex flex-col gap-2 card-border justify-between">
                                <div class="flex flex-nowrap items-center justify-between p-2 bg-gray-100">
                                    <span class="sm-label uppercase">
                                        {% heroicon_outline "face-smile" class="h-4 w-4 shrink-0" %}
                                        Sentiment Analysis
                                    </span>
                                    <span class="sm-label uppercase">
                                        <strong>{{ entry_analysis.methods.sentiment|humanize_enum }}</strong>
                                    </span>
                                </div>
                                
                                <div class="flex flex-nowrap items-end justify-center">
                                    <div class="p-2">
                                        <span class="xs-label flex flex-col gap-2 text-nowrap">
                                            SELF-REPORTED
                                            {% include "studies/partials/_badge_sentiment.html" with sentiment=entry.sentiment_self_report %}
                                        </span>
                                    </div>
                                    <div>
                                        <span class="xs-label py-3">
                                            {% heroicon_outline "arrow-right" class="h-4 w-4 shrink-0" %}
                                        </span>
                                    </div>
                                    <div class="flex flex-col gap-2 p-2">
                                        <span class="xs-label flex flex-col gap-2">
                                            DETECTED
                                            {% include "studies/partials/_badge_sentiment.html" with sentiment=entry_analysis.sentiment_label %}
                                        </span>
                                    </div>
                                </div>
                                <div class="flex flex-nowrap items-end justify-center mb-2">
                                    <span class="badge-bigger">
                                        Score: {{ entry_analysis.sentiment_score|floatformat:2 }}
                                    </span>
                                </div>
                            </div>
                            <!-- THEMATIC ANALYSIS -->
                            <div class="flex flex-col gap-2 card-border justify-between">
                                <div class="flex flex-nowrap items-center justify-between p-2 bg-gray-100">
                                    <span class="sm-label uppercase">
                                        {% heroicon_outline "tag" class="h-4 w-4 shrink-0" %}
                                        Theme Analysis
                                    </span>
                                    <span class="sm-label uppercase">
                                        <strong>{{ entry_analysis.methods.theme|humanize_enum }}</strong>
                                    </span>
                                </div>

                                <div class="flex flex-col gap-2 px-2">
                                    <span class="xs-label justify-center text-nowrap">
                                        EXTRACTED THEMES
                                    </span>
                                    <span class="flex flex-wrap gap-2 justify-center">
                                        {% include "studies/partials/_badge_theme_labels.html" with themes=entry_analysis.themes.all %}
                                    </span>
                                </div>

                            </div>
                            <div class="flex flex-col gap-2 card-border justify-between">
                                <div class="flex flex-nowrap items-center justify-between p-2 bg-gray-100">
                                    <span class="sm-label uppercase">
                                        {% heroicon_outline "exclamation-triangle" class="h-4 w-4 shrink-0" %}
                                        Issues Detected
                                    </span>
                                </div>

                                <div class="flex flex-nowrap items-end justify-center mb-2">
                                    <span class="flex flex-wrap gap-2 justify-center">
                                        {% include "studies/partials/_badge_issue_tags.html" with issues=entry_analysis.issues.all %}
                                    </span>
                                </div>
                            </div>
                        </section>
                        <footer class="flex flex-col gap-2 p-2">
                            <!-- Link to entry -->
                            <a href="{% url 'machine_analysis_details' study.id run.id %}"
                            class="text-xs font-medium text-blue-600 hover:text-blue-500 dark:text-blue-100 dark:hover:text-blue-50">
                                View full study analysis →
                            </a>
                        </footer>
                    </article>
                {% endwith %}
            {% empty %}
                <div class="rounded-md border border-dashed border-gray-300 dark:border-gray-700 p-4 text-sm text-gray-500 dark:text-gray-400">
                    No entries found.
                </div>
            {% endfor %}
        </div>
    </div>
</details>