{% load formatters %}

<div class="grid grid-cols-1 gap-4 xl:grid-cols-3">

    <!-- RUN CONFIGURATION -->
    <section class="xl:col-span-2 rounded-md border border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-900 overflow-hidden">
        <header class="flex items-center justify-between gap-2 p-4 bg-gray-100 dark:bg-gray-800 border-b border-gray-200 dark:border-gray-700">
            <div class="flex flex-col">
                <h4 class="font-semibold text-gray-900 dark:text-gray-100">
                    Analysis Details
                </h4>
                
            </div>
        </header>

        <div class="p-4">

            <p class="card-summary-subtitle">
                Methods and configuration used for this machine analysis run.
            </p>

            <dl class="grid grid-cols-2 gap-4 sm:grid-cols-4 lg:grid-cols-2 xl:grid-cols-4 mt-4">

                <div class="main-card p-2">
                    <dt class="xs-label">Sentiment analysis method</dt>
                    <dd class="flex items-center mt-1">
                        <span class="message-default">
                            {{ run.methods.sentiment|humanize_enum|upper|default:"—" }} 
                            {% if run.methods.sentiment == "llm" %}
                                    {{ run.methods.provider|upper }}
                            {% endif %}
                        </span>
                        {% if run.methods.sentiment == "llm" %}
                            <span class="badge">
                                {{ run.methods.model }}
                            </span>
                        {% endif %}
                    </dd>
                </div>

                <div class="main-card p-2">
                    <dt class="xs-label">Theme analysis method</dt>
                    <dd class="flex mt-1">
                        <span class="message-default">
                            {{ run.methods.theme|humanize_enum|upper|default:"—" }} 
                            {% if run.methods.theme == "llm" %}
                                    {{ run.methods.provider|upper }}
                            {% endif %}
                        </span>

                        {% if run.methods.theme == "llm" %}
                            <span class="badge">
                                {{ run.methods.model }}
                            </span>
                        {% endif %}
                    </dd>
                </div>

                <div class="main-card p-2">
                    <dt class="xs-label">Issue detection method</dt>
                    <dd class="flex mt-1">
                        <span class="message-default">
                        {% if run.methods.sentiment == "llm"%}
                        LLM
                        {% else %}
                        Keyword
                        {% endif %}
                        </span>
                    </dd>
                </div>

                <div class="main-card p-2">
                    <dt class="xs-label">Run status</dt>
                    <dd class="mt-1">
                        <span class="run-{{run.status}}">
                            {{run.status}}
                        </span>
                    </dd>
                </div>

                <div class="main-card p-2">
                    <dt class="xs-label">Started on</dt>
                    <dd class="mt-1 text-sm font-medium text-gray-900 dark:text-gray-100">
                        {{ run.started_at|date:"Y-m-d H:i" }}
                    </dd>
                </div>

                <div class="main-card p-2">
                    <dt class="xs-label">Completed on</dt>
                    <dd class="mt-1 text-sm font-medium text-gray-900 dark:text-gray-100">
                        {{ run.completed_at|date:"Y-m-d H:i" }}
                    </dd>
                </div>

                <div class="main-card p-2">
                    <dt class="xs-label">Created by</dt>
                    <dd class="mt-1 text-sm font-medium text-gray-900 dark:text-gray-100">
                        {{ run.created_by.username|capfirst }}
                    </dd>
                </div>

                <div class="main-card p-2">
                    <dt class="xs-label">Entries analyzed</dt>
                    <dd class="flex flex-col mt-1 text-sm font-medium text-gray-900 dark:text-gray-100">
                        <span>By machine: <strong>{{run.total_entries}}</strong></span>
                        <span>By human: <strong>{{completed_human_evaluation_count}}</strong></span>
                    </dd>
                </div>

            </dl>
        </div>
    </section>

    <!-- QUICK SUMMARY -->
    <section class="rounded-md border border-gray-200 dark:border-gray-700 bg-gray-50 dark:bg-gray-900 overflow-hidden">
        <header class="flex items-center justify-between gap-2 p-4 bg-gray-100 dark:bg-gray-800 border-b border-gray-200 dark:border-gray-700">
            <div class="flex flex-col">
                <h4 class="font-semibold text-gray-900 dark:text-gray-100">
                    Entry Evaluation Progress
                </h4>
            </div>
        </header>

        <div class="p-4">
            <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">
                This analysis run processed {{run.total_entries}} diary entries using 
                {% if run.methods.sentiment != "llm" %}
                    <strong>{{run.methods.sentiment|upper}}</strong> for sentiment analysis and 
                    <strong>{{run.methods.theme|upper}}</strong> for thematic analysis.
                {% else %}
                    <strong>{{ run.methods.provider|upper }}</strong>'s <strong>{{run.methods.model|upper}}</strong> model
                    for sentiment and thematic analysis.
                {% endif %}
            </p>
            <div class="grid grid-cols-3 gap-4 mt-4 rounded-sm border border-dashed border-gray-300 p-4 text-center dark:border-gray-600">
                <div class="flex flex-col items-center justify-center text-center">
                    <p class="xs-label uppercase mb-2">
                        Analyzed by machine
                    </p>
                    <p class="message-success text-2xl font-semibold">
                        {{run.total_entries}}
                    </p>
                </div>

                <div class="flex flex-col items-center justify-center text-center">
                    <p class="xs-label uppercase mb-2">
                        Evaluated by a human
                    </p>
                    <p class="{% if pending_human_evaluation_count > 0 %}message-warning{% else %} message-success {% endif %} text-2xl font-semibold">
                        {{completed_human_evaluation_count}}
                    </p>
                </div>

                <div class="flex flex-col items-center justify-center text-center">
                    <p class="xs-label uppercase mb-2">
                        Pending human evaluation
                    </p>
                    <p class="{% if pending_human_evaluation_count > 0 %}message-warning{% else %} message-success {% endif %} text-2xl font-semibold">
                        {{pending_human_evaluation_count}}
                    </p>
                </div>
            </div>
        </div>

        <!-- ACTION BUTTONS -->
        <div class="flex items-center justify-between px-4 pb-4">
            <a
                href="{% url 'human_evaluation_queue' study.pk run.pk %}"
                class="button-PRIMARY"
            >
                {% heroicon_outline "document-text" class="h-4 w-4 shrink-0" %}
                Evaluate Entries
            </a>
        
            <a 
                href="#"
                class="button-SECONDARY"
            >
                {% heroicon_outline "chart-bar" class="h-4 w-4 shrink-0" %}
                Refresh Metrics
            </a>
        </div>
    </section>

    <!-- HIGH-LEVEL RESULTS -->
    <section class="xl:col-span-3 rounded-md border border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-900 overflow-hidden">
        <header class="flex items-center justify-between gap-2 p-4 bg-gray-100 dark:bg-gray-800 border-b border-gray-200 dark:border-gray-700">
            <div class="flex flex-col">
                <h4 class="font-semibold text-gray-900 dark:text-gray-100">
                    Results Overview
                </h4>
            </div>
        </header>

        <div class="p-4">

            <span class="card-summary-subtitle">
                High-level results of this analysis run.
            </span>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 xl:grid-cols-3 mt-4">

                <div class="main-card">
                    <div class="bg-gray-100 dark:bg-gray-800 p-2">
                        <span class="sm-label">Sentiment Analysis</span>
                    </div>
                    <div class="p-2 grid grid-cols-2 md:grid-cols-1 xl:grid-cols-2 gap-2">
                        <div class="main-card p-2">
                            <dt class="xs-label">Average Sentiment</dt>
                            <dd class="flex flex-wrap items-center mt-1 gap-2">
                                {% include "studies/partials/_badge_sentiment.html" with sentiment=run.average_sentiment_label %}
                                <span class="badge">
                                    Score: {{ run.average_sentiment_score }}
                                </span>
                            </dd>
                        </div>
                        <div class="main-card p-2">
                            <dt class="xs-label">Dominant Sentiment</dt>
                            <dd class="flex flex-wrap items-center mt-1 gap-2">
                                {% include "studies/partials/_badge_sentiment.html" with sentiment=run.dominant_sentiment_label %}
                                <span class="badge">
                                    Score: {{ run.dominant_sentiment_score }}
                                </span>
                            </dd>
                        </div>
                    </div>
                </div>

                <div class="main-card">
                    <div class="bg-gray-100 dark:bg-gray-800 p-2">
                        <span class="sm-label">Thematic Extraction</span>
                    </div>
                    <div class="p-2 flex gap-2">
                        <div class="main-card p-2">
                            <dt class="xs-label">Extracted Themes</dt>
                            <dd class="flex flex-wrap items-center mt-1 gap-2">
                                {% include "studies/partials/_badge_theme_labels.html" with themes=run.themes.all %}
                            </dd>
                        </div>
                    </div>
                </div>

                <div class="main-card">
                    <div class="bg-gray-100 dark:bg-gray-800 p-2">
                        <span class="sm-label">Issue Detection</span>
                    </div>
                    <div class="p-2 flex gap-2">
                        <div class="main-card p-2">
                            <dt class="xs-label">Detected Issues</dt>
                            <dd class="flex flex-wrap items-center mt-1 gap-2">
                                {% include "studies/partials/_badge_issue_tags.html" with issues=run.issues.all %}
                            </dd>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-1 gap-4 mt-4">
                <div class="main-card w-full">
                    <div class="bg-gray-100 dark:bg-gray-800 p-2">
                        <span class="sm-label">Negative Sentiment Detection Metrics</span>
                    </div>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-2 p-2">
                        <div class="flex-1 main-card p-2">
                            <dt class="xs-label">Machine Vs. Participant Reference</dt>
                            <dd class="flex flex-wrap items-center mt-1 gap-2">
                                <!-- METRIC SCORES Machine vs Participant Ref -->
                                {% include "studies/partials/_analysis_run_metric_cards.html" with run=run comparison_type="participant" only %}
                            </dd>
                        </div>
                        <div class="flex-1 main-card p-2">
                            <dt class="xs-label">Machine Vs. Evaluator Reference</dt>
                            <dd class="flex flex-wrap items-center mt-1 gap-2">
                                <!-- METRIC SCORES Machine vs Evaluator Ref -->
                                {% include "studies/partials/_analysis_run_metric_cards.html" with run=run comparison_type="evaluator" only %}
                            </dd>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    

</div>