{% load heroicons %}
{% load formatters %}

<section open class="group/category main-card mb-4">
            
    <header class="flex items-center justify-between gap-2 p-4 bg-gray-100 dark:bg-gray-800 border-b border-gray-200 dark:border-gray-700">
        <div class="flex flex-col">
            
            <h4 class="flex items-center gap-2 font-semibold text-gray-900 dark:text-gray-100">
                Evolution Over Time
            </h4>

        </div>
    </header>

    <!-- ANALYSIS BODY -->
    <div class="p-4">

        <p class="card-summary-subtitle mb-4">
            Displays temporal changes in sentiment scores, sentiment categories, detected themes, and issue categories across the study period.
        </p>

        <!-- SENTIMENT SCORE EVOLUTION OVER TIME -->
        <div>
            <label class="block text-lg font-medium text-gray-700 dark:text-gray-200">
                Sentiment Score Evolution Over Time
            </label>
                
            {% include "studies/partials/_evolution_sentiment.html" with evolution=run.evolution_over_time run_id=run.id %}

        </div>

        <!-- SENTIMENT LABEL EVOLUTION OVER TIME -->
        <div class="mt-2">

            <label class="block text-lg font-medium text-gray-700 dark:text-gray-200">
                Sentiment Category Evolution Over Time
            </label>
                
            {% include "studies/partials/_evolution_sentiment_label.html" with evolution=run.evolution_over_time run_id=run.id %}

        </div>

        <!-- THEME + ISSUE EVOLUTION -->
        <div class="grid grid-cols-1 xl:grid-cols-2 gap-4 mt-2">

            <!-- THEME EVOLUTION -->
            <div>

                <label class="block text-lg font-medium text-gray-700 dark:text-gray-200">
                    Theme Evolution
                </label>

                {% include "studies/partials/_evolution_theme.html" with evolution=run.evolution_over_time run=run %}

            </div>

            <!-- ISSUE EVOLUTION -->
            <div>
                <label class="block text-lg font-medium text-gray-700 dark:text-gray-200">
                    Issue Detection Over Time
                </label>

                {% include "studies/partials/_evolution_issues.html" with evolution=run.evolution_over_time run=run %}
            </div>
        </div>

        <!-- TOP SENTIMENT SIGNALS -->
        <div class="gap-4 mt-2">
            <label class="block text-lg font-medium text-gray-700 dark:text-gray-200">
                Key Experience Moments
            </label>
            {% include "studies/partials/_top_sentiment_signals.html" with top_quotes=run.top_representative_quotes study_id=study.id run_id=run.id%}
        </div>

    </div>
</section>