{% load heroicons %}
{% load formatters %}

{% run_metric run "accuracy" comparison_type as accuracy %}
{% run_metric run "precision" comparison_type as precision %}
{% run_metric run "recall" comparison_type as recall %}
{% run_metric run "f1" comparison_type as f1 %}

<div class="flex w-full rounded-md border border-gray-200 dark:border-gray-700 overflow-hidden">
    <div class="flex flex-row w-full gap-px bg-gray-200 dark:bg-gray-700">

        <div class="bg-white dark:bg-gray-900 py-1 px-2 w-full">
            <span class="xs-label">Accuracy</span>
            <p class="mt-1 text-lg md-card-title">
                {% if accuracy is not None %}
                    {{ accuracy|floatformat:3 }}
                {% else %}
                    —
                {% endif %}
            </p>
        </div>

        <div class="bg-white dark:bg-gray-900 py-1 px-2 w-full">
            <span class="xs-label">Precision</span>
            <p class="mt-1 text-lg md-card-title">
                {% if precision is not None %}
                    {{ precision|floatformat:3 }}
                {% else %}
                    —
                {% endif %}
            </p>
        </div>

        <div class="bg-white dark:bg-gray-900 py-1 px-2 w-full">
            <span class="xs-label">Recall</span>
            <p class="mt-1 text-lg md-card-title">
                {% if recall is not None %}
                    {{ recall|floatformat:3 }}
                {% else %}
                    —
                {% endif %}
            </p>
        </div>

        <div class="bg-white dark:bg-gray-900 py-1 px-2 w-full">
            <span class="xs-label">F1 score</span>
            <p class="mt-1 text-lg md-card-title">
                {% if f1 is not None %}
                    {{ f1|floatformat:3 }}
                {% else %}
                    —
                {% endif %}
            </p>
        </div>

    </div>
</div>