{% load heroicons %}

<div class="px-4 py-2 bg-gray-100 dark:bg-gray-900">
	<div class="flex flex-wrap items-center gap-2">

		{% if study.entries.count > 0 %}
			<a
				href="{% url 'entries' study.pk %}"
				class="button-PRIMARY"
			>
				{% heroicon_outline "document-text" class="h-4 w-4" %}
				View Entries
			</a>
		{% endif %}

		{% if is_evaluator and study.entries.count > 0 %}
			<form
				method="post"
				action="{% url 'run_machine_analysis' study.id %}"
				class="inline-flex"
			>
				{% csrf_token %}

				<button
					type="submit"
					class="button-SECONDARY"
				>
					{% heroicon_outline "sparkles" class="h-4 w-4" %}
					Run Analysis
				</button>
			</form>
		{% endif %}
		
		{% if study.entries.count > 0 %}
			<div class="mx-1 h-6 border-l border-gray-300 dark:border-gray-600"></div>
		{% endif %}

		<a
			href="{% url 'edit_diary_study' study.pk %}"
			class="button-TERTIARY"
		>
			{% heroicon_outline "pencil-square" class="h-4 w-4" %}
			Edit Study
		</a>

		{% if is_evaluator %}
			<a
				href="{% url 'import_entries' study.pk %}"
				class="button-TERTIARY"
			>
				{% heroicon_outline "arrow-up-on-square-stack" class="h-4 w-4" %}
				Import Entries
			</a>

			<a
				href="{% url 'manage_participants' study.pk %}"
				class="button-TERTIARY"
			>
				{% heroicon_outline "users" class="h-4 w-4" %}
				Manage Participants
			</a>

			<a
				href="{% url 'manage_evaluators' study.pk %}"
				class="button-TERTIARY"
			>
				{% heroicon_outline "academic-cap" class="h-4 w-4" %}
				Manage Evaluators
			</a>
		{% endif %}

		<a
			href="{% url 'studies' %}"
			class="button-TERTIARY"
		>
			{% heroicon_outline "queue-list" class="h-4 w-4" %}
			{% heroicon_outline "arrow-left" class="h-4 w-4" %}
			Return to Studies
		</a>

	</div>
</div>