{% load heroicons %}

<div class="px-4 py-2 bg-gray-100 dark:bg-gray-900 border-t border-gray-200">
	<div class="flex flex-wrap items-center gap-2">

		

		<a 
			href="#"
			class="button-SECONDARY"
		>
			{% heroicon_outline "check-badge" class="h-4 w-4 shrink-0" %}
			Mark Study Complete
		</a>

		<!-- SEPARATOR -->
		<div class="mx-1 h-6 border-l border-gray-300 dark:border-gray-600"></div>


		<a
			href="{% url 'diary_study_detail' study.pk %}"
			class="button-TERTIARY"
		>
			{% heroicon_outline "queue-list" class="h-4 w-4 shrink-0" %}
			{% heroicon_outline "arrow-left" class="h-4 w-4 shrink-0" %}
			Return to Study
		</a>

	</div>
</div>