{% load heroicons %}

<div class="px-4 py-2 bg-gray-100 dark:bg-gray-900 border-t border-gray-200">
	<div class="flex flex-wrap items-center gap-2">

		{% if is_evaluator and study.entries.count > 0 %}
			<form
				method="post"
				action="{% url 'select_analysis_methods' study.id %}"
				class="inline-flex"
			>
				{% csrf_token %}

				<button
					type="submit"
					class="button-SECONDARY"
				>
					{% heroicon_outline "sparkles" class="h-4 w-4 shrink-0" %}
					Run Analysis
				</button>
			</form>
		{% endif %}
		
		{% if is_evaluator %}
			<div class="mx-1 h-6 border-l border-gray-300 dark:border-gray-600"></div>
		{% endif %}

		{% if is_evaluator %}
			<a
				href="{% url 'import_entries' study.pk %}"
				class="button-TERTIARY"
			>
				{% heroicon_outline "arrow-up-on-square-stack" class="h-4 w-4 shrink-0" %}
				Import Entries
			</a>
		{% endif %}

		<a
			href="{% url 'diary_study_detail' study.pk %}"
			class="button-TERTIARY"
		>
			{% heroicon_outline "book-open" class="h-4 w-4 shrink-0" %}
            {% heroicon_outline "arrow-left" class="h-4 w-4 shrink-0" %}
            Return to Study
		</a>

	</div>
</div>