{% if messages %}
<div class="flex flex-col mb-4 space-y-4">
    {% for message in messages %}
    <div class="{% if message.tags == 'error' %}message-error
                {% elif message.tags == 'success' %}message-success
                {% elif message.tags == 'info' %}message-info
                {% else %}message-default{% endif %}">
        
        {% if message.tags == 'error' %}
            {% heroicon_outline "x-circle" class="h-4 w-4" %}
        {% elif message.tags == 'success' %}
            {% heroicon_outline "check-circle" class="h-4 w-4" %}
        {% elif message.tags == 'info' %}
            {% heroicon_outline "information-circle" class="h-4 w-4" %}
        {% else %}
            {% heroicon_outline "chat-bubble-oval-left" class="h-4 w-4" %}
        {% endif %}

        <span>{{ message }}</span>
    </div>
    {% endfor %}
</div>
{% endif %}