<div class="flex items-center justify-between px-6 py-4 bg-gray-100 border-t border-gray-200 dark:border-gray-600 dark:bg-gray-800">

	<div class="text-sm text-gray-600 dark:text-gray-200">
		Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
	</div>

	<div class="flex gap-2">

		{% if page_obj.paginator.num_pages > 1 and page_obj.number != 1 %}
			<a
			href="?{% if page_params %}{{ page_params.urlencode }}&{% endif %}page=1"
			class="button-PAGINATOR"
			>
			{% heroicon_outline "chevron-double-left" class="h-4 w-4" %}
			</a>
		{% else %}
			<span class="border border-gray-200 dark:border-gray-700 text-gray-200 dark:text-gray-700 px-4 py-2 rounded-sm text-sm">
			{% heroicon_outline "chevron-double-left" class="h-4 w-4" %}
			</span>
		{% endif %}

		{% if page_obj.has_previous %}
			<a
			href="?{% if page_params %}{{ page_params.urlencode }}&{% endif %}page={{ page_obj.previous_page_number }}"
			class="button-PAGINATOR"
			>
			{% heroicon_outline "chevron-left" class="h-4 w-4" %}
			</a>
		{% else %}
			<span class="border border-gray-200 dark:border-gray-700 text-gray-200 dark:text-gray-700 px-4 py-2 rounded-sm text-sm">
			{% heroicon_outline "chevron-left" class="h-4 w-4" %}
			</span>
		{% endif %}

		{% if page_obj.has_next %}
			<a
			href="?{% if page_params %}{{ page_params.urlencode }}&{% endif %}page={{ page_obj.next_page_number }}"
			class="button-PAGINATOR"
			>
			{% heroicon_outline "chevron-right" class="h-4 w-4" %}
			</a>
		{% else %}
			<span class="border border-gray-200 dark:border-gray-700 text-gray-200 dark:text-gray-700 px-4 py-2 rounded-sm text-sm">
			{% heroicon_outline "chevron-right" class="h-4 w-4" %}
			</span>
		{% endif %}

		{% if page_obj.paginator.num_pages > 1 and page_obj.number != page_obj.paginator.num_pages%}
			<a
			href="?{% if page_params %}{{ page_params.urlencode }}&{% endif %}page={{page_obj.paginator.num_pages}}"
			class="button-PAGINATOR"
			>
			{% heroicon_outline "chevron-double-right" class="h-4 w-4" %}
			</a>
		{% else %}
			<span class="border border-gray-200 dark:border-gray-700 text-gray-200 dark:text-gray-700 px-4 py-2 rounded-sm text-sm">
			{% heroicon_outline "chevron-double-right" class="h-4 w-4" %}
			</span>
		{% endif %}

	</div>
</div>