{% load formatters %}
<div class="text-sm">
    {% if sentiment == "VERY_POSITIVE" or sentiment == "POSITIVE" %}
    <span class="sentiment-{{sentiment}}">
        {% heroicon_outline "face-smile" class="h-4 w-4" %} &nbsp;{{ sentiment|humanize_enum }}
    </span>
    {% elif sentiment == "VERY_NEGATIVE" or sentiment == "NEGATIVE" %}
    <span class="sentiment-{{sentiment}}">
        {% heroicon_outline "face-frown" class="h-4 w-4" %} &nbsp;{{ sentiment|humanize_enum }}
    </span>
    {% elif sentiment == "NEUTRAL" %}
    <span class="sentiment-{{sentiment}}">
        {% heroicon_outline "question-mark-circle" class="h-4 w-4" %} &nbsp;{{ sentiment|humanize_enum }}
    </span>
    {% else %}
    <span class="">
        {% heroicon_outline "ellipsis-horizontal-circle" class="h-4 w-4" %} &nbsp;None
    </span>
    {% endif %}
</div>