{% extends "base.html" %}
{% load static %}

{% load heroicons %}
{% load formatters %}

{% block title %}Diary Entry Details · ChronicleUX{% endblock %}

{% block content %}
	<div class="sticky-top">
		{% include "studies/partials/_header.html" with study=study page_title_heroicon=page_title_heroicon page_title=page_title page_subtitle=page_subtitle%}
		{% include "studies/partials/_menu_evaluator.html" %}
	</div>

	<div class="p-4">
		{% include "studies/partials/_messages.html" %}
		
		<article class="group main-card">

			<!-- CARD TITLE (I.E., SUMMARY) -->
			<div class="card-summary">
				<div class="flex flex-col">
					<h3 class="card-summary-title">
						{% heroicon_outline "document-text" %}
						Diary Entry Details
					</h3>
					<p class="card-summary-subtitle">
						Entry narrative, human evaluation, and selected machine analysis for this diary entry.
					</p>
				</div>
				<div class="flex justify-end gap-3">
					<a
						href="{% url 'entries' study.pk %}"
						class="button-SECONDARY"
					>
						{% heroicon_outline "document-text" class="h-4 w-4 shrink-0" %}
						{% heroicon_outline "arrow-left" class="h-4 w-4 shrink-0" %}
						Back to Entries
					</a>
				</div>
			</div>

			<!-- ENTRY DATA + SELECTED ANALYSIS -->
			<div class="grid grid-cols-1 lg:grid-cols-4 gap-4 p-4">

				<!-- MAIN ENTRY CONTENT -->
				<div class="lg:col-span-2 grid grid-cols-1 gap-4">

					<!-- ENTRY CONTENT -->
					<div class="xl:col-span-2 p-4 card-border flex flex-col">
						<div class="xs-label uppercase">
							{% heroicon_outline "chat-bubble-left-right" class="h-4 w-4 shrink-0" %}
							Diary Entry
						</div>

						<div class="xs-label mt-2">
							Created on: {{ entry.created_at}}
						</div>

						<p class="entry-content">
							{{ entry.content|linebreaksbr|default:"—" }}
						</p>
						
					</div>
				</div>

				<!-- ENTRY METADATA -->
				<div class="grid grid-cols-1 sm:grid-cols-4 lg:grid-cols-2 xl:grid-cols-2 lg:col-span-2 gap-4">
					<!-- PARTICIPANT -->
					<div class="card-border p-4 flex flex-col">
						<div class="xs-label uppercase">
							{% heroicon_outline "user-circle" class="h-4 w-4 shrink-0" %}
							Participant
						</div>

						<div class="sm-label mt-2">
							{% if entry.participant_display_name %}
								{{ entry.participant_display_name|capfirst }}
							{% else %}
								—
							{% endif %}
						</div>
					</div>

					<!-- SOURCE -->
					<div class="card-border p-4 flex flex-col">
						<div class="xs-label uppercase">
							{% heroicon_outline "arrow-down-tray" class="h-4 w-4 shrink-0" %}
							Source
						</div>

						<div class="sm-label mt-2">
							{{ entry.get_source_display|default:"—" }}
						</div>
					</div>

					<!-- SELF-REPORTED SENTIMENT -->
					<div class="card-border p-4 flex flex-col">
						<div class="xs-label uppercase">
							{% heroicon_outline "face-smile" class="h-4 w-4 shrink-0" %}
							Self-reported Sentiment
						</div>

						<div class="sm-label mt-2">
							{% include "studies/partials/_badge_sentiment.html" with sentiment=entry.sentiment_self_report %}
						</div>
					</div>

					<!-- SELF-REPORTED ISSUE -->
					<div class="card-border p-4 flex flex-col">
						<div class="xs-label uppercase">
							{% heroicon_outline "exclamation-triangle" class="h-4 w-4 shrink-0" %}
							Self-reported Issue
						</div>

						<div class="sm-label mt-2">
							{% if entry.issue_encountered %}
								<span class="badge-ISSUE">
									Yes
								</span>
							{% else %}
								<span class="badge-NONE">
									No
								</span>
							{% endif %}
						</div>
					</div>
				</div>

			</div>
		</article>

		<article class="group main-card mt-4">

			<div class="card-summary">
				<div class="flex flex-col">
					<h3 class="card-summary-title">
						{% heroicon_outline "clipboard-document-check" %}
						Human Evaluation
					</h3>

					<p class="card-summary-subtitle">
						Evaluator-assigned sentiment, themes, issues, and notes.
					</p>
				</div>

				<div class="flex justify-end gap-3">
					<a
						href="{% url 'evaluate_entry' study.pk entry.pk %}"
						class="button-SECONDARY"
					>
						{% heroicon_outline "pencil-square" class="h-4 w-4 shrink-0" %}

						{% if entry_evaluation %}
							Edit Evaluation
						{% else %}
							Evaluate Entry
						{% endif %}
					</a>
				</div>
			</div>

			{% if entry_evaluation and entry_evaluation.evaluator_sentiment_label %}

				<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 p-4">

					<!-- EVALUATED SENTIMENT -->
					<div class="card-border p-4 flex flex-col">
						<div class="xs-label uppercase">
							{% heroicon_outline "face-smile" class="h-4 w-4 shrink-0" %}
							Evaluated Sentiment
						</div>

						<div class="sm-label mt-2">
							{% include "studies/partials/_badge_sentiment.html" with sentiment=entry_evaluation.evaluator_sentiment_label %}
						</div>
					</div>

					<!-- EVALUATED ISSUES -->
					<div class="card-border p-4 flex flex-col">
						<div class="xs-label uppercase">
							{% heroicon_outline "exclamation-triangle" class="h-4 w-4 shrink-0" %}
							Evaluated Issues
						</div>

						<div class="flex flex-wrap gap-2 mt-2">
							{% if entry_evaluation.evaluator_issues.all %}
								{% include "studies/partials/_badge_issue_tags.html" with issues=entry_evaluation.evaluator_issues.all %}
							{% else %}
								<span class="badge-NONE">
									No issues identified
								</span>
							{% endif %}
						</div>
					</div>

					<!-- EVALUATED THEMES -->
					<div class="card-border p-4 flex flex-col">
						<div class="xs-label uppercase">
							{% heroicon_outline "tag" class="h-4 w-4 shrink-0" %}
							Evaluated Themes
						</div>

						<div class="flex flex-wrap gap-2 mt-2">
							{% if entry_evaluation.evaluator_themes.all %}
								{% include "studies/partials/_badge_theme_labels.html" with themes=entry_evaluation.evaluator_themes.all %}
							{% else %}
								<span class="badge">
									No themes identified
								</span>
							{% endif %}
						</div>
					</div>

					<!-- EVALUATOR NOTES -->
					<div class="card-border p-4 flex flex-col">
						<div class="xs-label uppercase">
							{% heroicon_outline "document-text" class="h-4 w-4 shrink-0" %}
							Evaluator Notes
						</div>

						<div class="entry-content mt-2">
							{{ entry_evaluation.evaluator_notes|linebreaksbr|default:"No evaluator notes provided." }}
						</div>
					</div>

				</div>

			{% else %}

				<div class="p-4">
					<div class="message-warning">
						Pending human evaluation
					</div>
				</div>

			{% endif %}

		</article>

		{% if entry_runs %}
			{% include "studies/partials/_analysis_runs_entry_level.html" with entry_analyses=entry_runs study=study entry=entry %}
		{% endif %}

	</div>

{% endblock %}