{% extends "base.html" %}
{% load static %}

{% block title %}Edit Study · ChronicleUX{% endblock %}

{% block content %}

	<div class="sticky-top">
		{% include "studies/partials/_header.html" with page_title_heroicon=page_title_heroicon page_title=page_title page_subtitle=page_subtitle%}
		{% include "studies/partials/_menu_study.html" %}
	</div>

	<div class="p-4">
		{% include "studies/partials/_messages.html" %}
		{% include "studies/partials/_study_form.html" with study=study%}
	</div>

{% endblock %}