{% extends "base.html" %}
{% load static %}

{% load heroicons %}
{% load formatters %}

{% block title %}Diary Entry Details · ChronicleUX{% endblock %}

{% block content %}
	<div class="sticky-top">
		{% include "studies/partials/_header.html" with study=study page_title_heroicon=page_title_heroicon page_title=page_title page_subtitle=page_subtitle%}
		{% include "studies/partials/_menu_evaluator.html" %}
	</div>

	<div class="p-4">
		{% include "studies/partials/_messages.html" %}
		
		{% include "studies/partials/_entry.html" with entry=entry %}

		{% if entry_runs %}
			{% include "studies/partials/_analysis_runs_entry_level.html" with entry_analyses=entry_runs study=study entry=entry %}
		{% endif %}

	</div>

{% endblock %}