{% extends "base.html" %}
{% load static %}
{% load heroicons %}

{% block title %}Machine Analysis Details · {{ study.title }} · ChronicleUX{% endblock %}

{% block content %}

    <div class="sticky-top">
        {% include "studies/partials/_header.html" with study=study page_title_heroicon=page_title_heroicon page_title=page_title page_subtitle=page_subtitle%}
        {% include "studies/partials/_menu_back_to_study.html" %}
    </div>

    <div class="p-4">
        
        {% include "studies/partials/_messages.html" %}

        <details open class="group main-card mb-4">
            
            <!-- CARD TITLE (I.E., SUMMARY) -->
            <summary class="card-summary">
                <div class="flex flex-col">
                    <h3 class="card-summary-title">
                        {% heroicon_outline "code-bracket-square"%}
                        RUN-{{ run.id|stringformat:"03d" }}
                    </h3>

                    <!-- ANALYSIS DATE -->
                    <p class="card-summary-subtitle ">
                        {% heroicon_outline "calendar-days" class="h-4 w-4 shrink-0" %}
                        {% if run.completed_at %}
                            Completed on: {{ run.completed_at|date:"Y-m-d H:i" }}
                            
                            {% heroicon_outline "document-text" class="h-4 w-4 shrink-0" %}
                            Entries Analyzed: {{ run.total_entries|default:"0" }}

                        {% elif run.created_at %}
                            Started on: {{ run.created_at|date:"Y-m-d H:i" }}
                        {% else %}
                            Date unavailable
                        {% endif %}
                    </p>

                    <!-- RUN METHODS -->
                    <p class="card-summary-subtitle ">
                        {% heroicon_outline "face-smile" class="h-4 w-4 shrink-0" %}
                        Sentiment Analysis Method: {{ run.methods.sentiment|upper|default:"—" }}

                        {% heroicon_outline "tag" class="h-4 w-4 shrink-0" %}
                        Theme Analysis Method: {{ run.methods.theme|upper|default:"—" }}
                    </p>

                </div>
                <span class="card-summary-chevron">
                    {% heroicon_outline "chevron-down" class="h-4 w-4 text-gray-500" %}
                </span>
            </summary>

            <div class="grid grid-cols-1 xl:grid-cols-2 gap-4 p-4 bg-white dark:bg-gray-900">
                <!-- ANALYSIS METRICS VS REF PARTICIPANT -->
                <div class="grid col-span-1 gap-4">
                {% include "studies/partials/_analysis_run_metrics_participant.html" with run=run%}
                </div>

                <!-- ANALYSIS METRICS VS REF EVALUATOR -->
                <div class="grid col-span-1 gap-4">
                {% include "studies/partials/_analysis_run_metrics_evaluator.html" with run=run%}
                </div>

                <!-- ANALYSIS METRICS VS REF PARTICIPANT PER CATEGORY -->
                <div class="grid col-span-2 gap-4">
                {% include "studies/partials/_analysis_run_metrics_per_category_participant.html" with run=run%}
                </div>

                <!-- ANALYSIS METRICS VS REF EVALUATOR PER CATEGORY -->
                <div class="grid col-span-2 gap-4">
                {% include "studies/partials/_analysis_run_metrics_per_category_evaluator.html" with run=run%}
                </div>
            </div>

        </details>

        <details open class="group main-card mb-4">
            
            <!-- CARD TITLE (I.E., SUMMARY) -->
            <summary class="card-summary">
                <div class="flex flex-col">
                    <h3 class="card-summary-title">
                        Study-level Overview
                    </h3>

                    <p class="card-summary-subtitle ">
                        A high-level summary of the study's detected sentiment, recurring themes, reported issues, and their estimated impact across diary entries.
                    </p>

                </div>
                <span class="card-summary-chevron">
                    {% heroicon_outline "chevron-down" class="h-4 w-4 text-gray-500" %}
                </span>
            </summary>

            <!-- KEY INSIGHTS -->
            <div class="grid grid-cols-1 gap-4 p-4 bg-white dark:bg-gray-900">
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">

                    <!-- DOMINANT SENTIMENT & DISTRIBUTION -->
                    {% include "studies/partials/_distribution_sentiment.html" with dominant_sentiment=run.dominant_sentiment_label sentiment_distribution=run.sentiment_distribution study_id=study.id run_id=run.id%}
                    
                    <!-- DOMINANT THEME & DISTRIBUTION -->
                    {% include "studies/partials/_distribution_theme.html" with dominant_theme=run.dominant_theme_label theme_distribution=run.theme_distribution study_id=study.id run_id=run.id%}

                    <!-- ISSUE DISTRIBUTION -->
                    {% include "studies/partials/_distribution_issues.html" with issue_distribution=run.recurring_issues study_id=study.id run_id=run.id%}

                    <!-- ISSUE IMPACT MATRIX -->
                    {% include "studies/partials/_issue_impact_matrix.html" with issue_impact_matrix=run.recurring_issues study_id=study.id run_id=run.id%}

                </div>
                   
            </div>
        </details>

        <details open class="group main-card mb-4">
            
            <!-- CARD TITLE (I.E., SUMMARY) -->
            <summary class="card-summary">
                <div class="flex flex-col">
                    <h3 class="card-summary-title">
                        Evolution Over Time
                    </h3>

                    <p class="card-summary-subtitle ">
                        Displays temporal changes in sentiment scores, sentiment categories, detected themes, and issue categories across the study period.
                    </p>

                </div>
                <span class="card-summary-chevron">
                    {% heroicon_outline "chevron-down" class="h-4 w-4 text-gray-500" %}
                </span>
            </summary>

            <!-- ANALYSIS BODY -->
            <div class="p-4 bg-white dark:bg-gray-900">

                <!-- SENTIMENT SCORE EVOLUTION OVER TIME -->
                <div>
                    <label class="block text-lg font-medium text-gray-700 dark:text-gray-200">
                        Sentiment Score Evolution Over Time
                    </label>
                        
                    {% include "studies/partials/_evolution_sentiment.html" with evolution=run.evolution_over_time run_id=run.id %}

                </div>

                <!-- SENTIMENT LABEL EVOLUTION OVER TIME -->
                <div class="mt-2">

                    <label class="block text-lg font-medium text-gray-700 dark:text-gray-200">
                        Sentiment Category Evolution Over Time
                    </label>
                        
                    {% include "studies/partials/_evolution_sentiment_label.html" with evolution=run.evolution_over_time run_id=run.id %}

                </div>

                <!-- THEME + ISSUE EVOLUTION -->
                <div class="grid grid-cols-1 xl:grid-cols-2 gap-4 mt-2">

                    <!-- THEME EVOLUTION -->
                    <div>

                        <label class="block text-lg font-medium text-gray-700 dark:text-gray-200">
                            Theme Evolution
                        </label>

                        {% include "studies/partials/_evolution_theme.html" with evolution=run.evolution_over_time run=run %}

                    </div>

                    <!-- ISSUE EVOLUTION -->
                    <div>
                        <label class="block text-lg font-medium text-gray-700 dark:text-gray-200">
                            Issue Detection Over Time
                        </label>

                        {% include "studies/partials/_evolution_issues.html" with evolution=run.evolution_over_time run=run %}
                    </div>
                </div>

                <!-- TOP SENTIMENT SIGNALS -->
                <div class="gap-4 mt-2">
                    <label class="block text-lg font-medium text-gray-700 dark:text-gray-200">
                        Key Experience Moments
                    </label>
                    {% include "studies/partials/_top_sentiment_signals.html" with top_quotes=run.top_representative_quotes study_id=study.id run_id=run.id%}
                </div>

            </div>
        </details>

        <details open class="group main-card mb-4">
        
            <!-- CARD TITLE (I.E., SUMMARY) -->
            <summary class="card-summary">
                <div class="flex flex-col">
                    <h3 class="card-summary-title">
                        Evidence Trail
                    </h3>

                    <p class="card-summary-subtitle ">
                        Analyzed diary entries with their detected sentiment, themes, issue tags, and links back to the original entry.
                    </p>

                </div>
                <span class="card-summary-chevron">
                    {% heroicon_outline "chevron-down" class="h-4 w-4 text-gray-500" %}
                </span>
            </summary>

            <div class="p-4 bg-white dark:bg-gray-900">
                <!-- EVIDENCE TRAIL -->
                <div class="mt-2 rounded-sm border border-gray-200 dark:border-gray-600 bg-white dark:bg-gray-900 overflow-hidden">
                    
                    <div class="" id="analysis-entries-panel">
                        {% include "studies/partials/_entries_with_analysis.html" with entry_analyses=entry_analyses study=study run=run %}
                    </div>

                </div>
                    
            </div>
        </details>

    </div>

{% endblock %}